node_modules/
dist/
build/
.cache/
tmp/
temp/

.DS_Store
Thumbs.db
desktop.ini

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

.env
.env.*
!.env.example

.vscode/
.idea/
*.swp
*.swo

coverage/
*.lcov

.cache/
*.local

*.zip
*.tar
*.tgz

.ssh/
.gitattributes
.gitconfig
*.pem
*.key

*.bak
*.tmp
*.old

.vite/
.next/
out/
